<div class="content flex flex-col justify-center items-center">
  <form [formGroup]="checkForm" (ngSubmit)="check()" class="flex flex-col">
    <div class="flex justify-center items-center gap-4">
      <p class="label text-5xl leading-3 pb-2.5">Can account</p>
      <mat-form-field appearance="outline" class="leading-none">
        <mat-label>Code 1</mat-label>
        <input matInput type="number" formControlName="code1">
      </mat-form-field>
      <mat-form-field appearance="outline" class="leading-none">
        <mat-label>Action</mat-label>
        <mat-select formControlName="action">
          <mat-option value="credit">Credit</mat-option>
          <mat-option value="debit">Debit</mat-option>
        </mat-select>
      </mat-form-field>
      <p class="label text-5xl pb-2.5">account</p>
      <mat-form-field appearance="outline" class="leading-none">
        <mat-label>Code 2</mat-label>
        <input matInput type="number" formControlName="code2">
      </mat-form-field>
      <p class="label text-5xl leading-3 pb-2.5">?</p>
    </div>
    <button class="btn" type="submit" [disabled]="checkForm.invalid">Check</button>
  </form>
  <div *ngIf="hasRun" class="pt-4">
    <div *ngIf="rule !== null; else notFound" class="text-center">
      <p class="label text-5xl pb-2.5"><strong>Yes</strong>, when</p>
      <p class="text-5xl">{{rule.rule | lowercase}}</p>
    </div>
    <ng-template #notFound>
      <h3 class="label text-5xl pb-2.5 text-center">No, no rule found.</h3>
    </ng-template>
  </div>
</div>
