@import "src/styles";

.icon-hover {
  @apply hover:text-secondary cursor-pointer
}

.button {
  @apply bg-darkBlue text-white hover:bg-white hover:text-primary w-20 h-8 rounded-2xl disabled:bg-gray-500 disabled:cursor-not-allowed
}

.label {
  @apply text-gray-800 font-extralight leading-none
}

.pop-up {
  width: 70vw;
  height: 70vh;
}

.link {
  @apply no-underline text-white hover:underline cursor-pointer
}
